# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Dataset/
Debug/
libsvm/src/
DerivedData/GestureDetector/Index/
DerivedData/GestureDetector/Logs/
DerivedData/GestureDetector/TextIndex/

# Data files
*/*.data
*/*.model
*/*.range
*/*.result
